%td
  = o.description 
%td.text-center
  .btn-group-lg{"data-toggle" => "buttons"}
    = label_tag nil, nil, class:'btn btn-default'  do 
      = radio_button_tag "value#{a.id}", 1, false, autocomplete: "off"
      1
    = label_tag nil, nil, class:'btn btn-default'  do 
      = radio_button_tag "value#{a.id}", 2, false, autocomplete: "off"
      2
    = label_tag nil, nil, class:'btn btn-default'  do 
      = radio_button_tag "value#{a.id}", 3, false, autocomplete: "off"
      3
    = label_tag nil, nil, class:'btn btn-default active'  do 
      = radio_button_tag "value#{a.id}", 4, false, autocomplete: "off"
      4
