.text-center
  =button_to "Today", dashboard_path, method: :get
  %input(data-provide="datepicker")
  .h2

    =link_to (fa_icon "chevron-left"), dashboard_day_path(@day.yesterday)
  
    =@day.strftime("%A, %B %e, %Y")
      
    =link_to (fa_icon "chevron-right"), dashboard_day_path(@day.tomorrow)


    / TODO: add attributes to this to bootstrap and make it change on command
  = form_tag do
    = label_tag 'subject[id]', 'Subject:'
    -if @selected_subject
      = collection_select(:subject, :id, Subject.all, :id, :name, {:selected => @selected_subject.id, :onchange => "this.form.submit()"})
    -else
      = collection_select(:subject, :id, Subject.all, :id, :name, {:onchange => "this.form.submit()"})
    = submit_tag("Display",  {:class=>"btn btn-default"}) 
  
        
-if @selected_subject 
  =form_for @schedule_item do |f|
    .table-responsive
      %table.table.table-bordered
        %thead
          %tr
            %td.h5 Student Name
            %td Objective
            %td Score
        %tbody
          - assign_index = 0
          - last_student_id = -1
          - objective_index = 0
          = f.fields_for :scores do |score_form|
            - a = @assignments[assign_index]
            - student_id = a.student.id
            - if student_id != last_student_id
              - last_student_id = student_id
              %tr
                %td.h4{:rowspan => "#{a.student.objectives.count}"}
                  = a.student.name

                = render partial: 'score', locals: {score_form:score_form, a:a, si: @schedule_item}

                
            - else
              %tr
                = render partial: 'score', locals: {score_form:score_form, a:a, si: @schedule_item}
            
            - assign_index +=  1 
    =f.hidden_field(:subject_id, :value => @selected_subject.id)
    =f.hidden_field(:day, :value => @day)
    =f.time_field(:time, :value => "#{Time.now.strftime("%H:%M")}")
    =f.submit "Record Scores", class:"btn btn-lg btn-primary"

            
