.text-center
  .h2

    =link_to (fa_icon "chevron-left"), "#"
  
    = @day.strftime("%A, %B %e, %Y")
    =link_to (fa_icon "chevron-right"), "#"

    / TODO: add attributes to this to bootstrap and make it change on command
  = form_tag do
    = label_tag 'subject[id]', 'Subject:'
    -if @selected_subject
      = collection_select(:subject, :id, Subject.all, :id, :name, {:selected => @selected_subject.id, :onchange => "this.form.submit()"})
    -else
      = collection_select(:subject, :id, Subject.all, :id, :name, {:onchange => "this.form.submit()"})
    = submit_tag("Display",  {:class=>"btn btn-default"}) 
  
        
-if @selected_subject 
  =form_for @schedule_item do |f|
    .table-responsive
      %table.table.table-bordered
        %thead
          %tr
            %td.h5 Student Name
            %td Objective
            %td Score
        %tbody
          - assign_index = 0
          - last_student_id = -1
          = f.fields_for :scores do |score_form|
            - a = @assignments[assign_index]
            - student_id = a.student.id
            %tr
              %td
                = a.student.name
                =score_form.label :assignment
                =score_form.text_field :assignment
              %td
                = a.objective.description
              %td
                =score_form.label :value
                =score_form.text_field :value
            - assign_index +=  1 
          / - @students.each do |s|
          /   - objCount = s.objectives.count
          /   %tr
          /     %td.h4{:rowspan => "{objCount}"}
          /       = link_to s.name, student_path(s.id)

          /     -s.objectives.each do |o|
          /       -a = Assignment.where(student_id:"{s.id}", objective_id:"{o.id}").first
          /       -if o != s.objectives.first
          /         %tr
          /           = render partial: 'score', locals: {o: o, f:f, a:a}
          /       -else
          /         = render partial: 'score', locals: {o: o, f:f, a:a}
    =f.submit "Record Scores", class:"btn btn-lg btn-primary"
    %input{:type=>"time", :value=>"#{Time.now.strftime("%H:%M")}"}/

            
          